/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@media only screen and (max-width: 600px) {
     .container {
     grid-template-columns: 1;
     }
   }

body {
     background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(255,235,205,0.43) 100%); 
     font-family: 'Arial';
     margin: 1em;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     justify-content: center;
     font-size: 1em;
     font-family: 'Garamond', 'Calibri';
     text-align: center;
}

main {
     padding: .5em;
     display: flex;
     flex-direction: column;
     font-family: 'Calibri', 'Tahoma';
}

.heading {
     text-align: center;
     font-family: 'Garamond', 'Calibri';
     font-size: 1.2em;
     padding: .2em;
     height: 3em;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.864), transparent);  
}

h2 {
     font-size: 1.2em;
     padding: .5em;
}

.container {
     margin: 3rem auto;
     padding: 1rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     max-width: 100%;
     place-items: center;
     gap: 20px 30px;
}

@media only screen and (min-width:250px) and (max-width:600px) {
     .container{
       grid-template-columns: repeat(1,1fr);
     }
   }

@media only screen and (min-width:600px) and (max-width:870px) {
     .container{
       grid-template-columns: repeat(2,1fr);
     }
   }

.flip-card {
     border: solid 2px goldenrod;
     border-radius: .45em;
     width: 250px;
     height: 250px;
     background-color: transparent;
     perspective: 1000px;
}

.flip-card-front, h3 {
     text-align: center;
}

.flip-card-inner {
     position: relative;
     border-radius: .45em;
     width: 100%;
     height:100%;
     transition: transform 0.3s;
     transform-style: preserve-3d;
}
.flip-card:active .flip-card-inner,
.flip-card:active .flip-card-inner,
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}

.flip-card-front {
     background: rgb(255,255,255);
     background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,235,205,1) 100%);
     color: black;
     border-radius: .45em;
}

.flip-card-back{
     background: rgb(255,255,255);
     background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,235,205,1) 100%);
     color: black;
     transform: rotateY(180deg);
     border-radius: .3em;
     text-align: center;
}

.flip-card-back > p {
     font-size: medium;
     color: black;
     padding: .1em;
     font-family: 'Calibri', 'Tahoma';
}

.field {
     font-weight: bold;
}

footer {
     text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
